<h1>JackerNews</h1>

<p>
<table>
<% @articles.each_with_index do |article, i| %>
      <tr><td> <%= i+1 %>. </td>
      <td> <a href ="<%= article.url %>"><%= article.title %></a></td>
       <% if current_user == article.owner && article.recent? %>
            <td> <%= link_to 'Edit', "articles/#{article.id}/edit" %> </td>
       <% end %>
       </tr>
<% end %>
</table>
</p>


