<h1>JackerNews</h1>

<p>
<table>
<% Article.all.each_with_index do |article, i| %>
    <tr>
      <td> <%= i+1 %>. </td>
      <td> <a href ="<%= article.url %>"><%= article.title %></a></td>
      <td> <%= link_to 'Edit', "articles/#{article.id}/edit" %>
    </tr>
<% end %>
</table>
</p>
