<h1>JackerNews</h1>
<p>Add Your Article!</p>

<% if flash.alert %>
  <%= flash.alert %>
<% end %>


<form action="/articles" method="post">
  Title: <input type="text" name="title" /><br />
  URL: <input type="text" name="url" /><br />
  <input type="submit" value="Submit" />
</form>

