<h1>JackerNews</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<form action="/articles" method="post">
  Enter Article URL: <input type="text" name="url" /><br />
  <input type="submit" value="Submit" />
</form>
