<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <ul><%= link_to "Home", root_path %></ul>
          <% if signed_in? %>
            <ul><%= link_to "Submit New", new_article_path %></ul>
            <ul>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </ul>
          <% else %>
            <ul><%= link_to "Sign in", signin_path %></ul>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>